@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<hr />
<table class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Title</th>
            <th>Value</th>
        </tr>
    </thead>
    <tr>
        <td>ViewBag.A</td>
        <td>@ViewBag.A</td>
    </tr>
    <tr>
        <td>ViewBag.B</td>
        <td>@ViewBag.B</td>
    </tr>
    <tr>
        <td>ViewBag.C</td>
        <td>@ViewBag.C</td>
    </tr>
</table>
